body{
    flex-wrap: wrap;
    background-image: url('meteo.jpg');
    background-repeat : no-repeat;
    background-position: center;
    background-size: fill;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#container{
    font-size: 30px;
    font-weight: bold;
    color:white;
    color: rgb(9, 4, 4);
    margin :50px auto;
    background-color:rgba(115, 173, 226, 0.94);
    width: 600px;
    height: 400px;
}
input{
    height: 30px;
    text-align: center;
}
button{
    height: 30px;
    width: 100px;
}